html {
	::-webkit-scrollbar {
			display: none;
		}
	}

@media (min-width: 1000px) {
	main {
		padding-top: 3rem;
	}
}

body {
	margin: 0px;
	min-height: 100vh;
	min-width: 390px;
	background-color: #172A38;
	color: #FFF;
}

.warpper {
	position: relative;
	padding: 20px;

	header {
		display: flex;
		justify-content: flex-end;

		button {
			position: absolute;
			width: 75px;
			height: 50px;
			top: 2%;
			right: 20px;
			border-radius: 20px;
			border-style: none;
			background: #EC4B5D;
			color: #FFF;
		}
	}

	main {
		display: grid;
		justify-content: center;
		width: 100%;

		.highlike.Font{
			position: relative;
			top: 30px;
			.Main-one {
				position: absolute;
				top: 0px;
				color: #EC4B5D;
				font-family: "IBM Plex Sans Thai Looped";
				font-size: 5rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			.Main-two {
				position: absolute;
				top: 95px;
				color: #FFF;
				font-size: 2.5rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.code-main {
				position: absolute;
				top: 145px;
				color: #FFF;
				font-size: 1.2rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}

		img#avatar {
			margin-top: 200px;
		}

		.item-link{
			display: grid;
			justify-content: center;
			width: 100%;
			gap: 20px;

				.Box {
					width: 280px;
					background-color:#EC4B5D;
					height: 60px;
					border-radius: 20px;
					border: none;
					color: white;
					font-size: 1.2rem;
				}
			}

	}

	footer {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 0.5rem;
		font-family: "Oswald", sans-serif;
		font-weight: 200;
	}

}
